@tailwind base;
@tailwind components;
@tailwind utilities;



.kep-login-facebook{
   padding: 5px !important;
   margin: auto !important; 
   display: block !important;
   width: 50% !important;
   height: 45px !important;
   border-radius: 5px !important;
   font-size: small !important;
}
.kep-login-google{
    padding: 5px !important;
    margin: auto !important; 
    display: flex !important;
    width: 50% !important;
    height: 45px !important;
    border-radius: 5px !important;
    font-size: small !important;
    margin-top: 10px !important;
   
 }
/* .style{
    height: 0px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    background: #F5F6F7 !important;
    padding: 8px !important;
    border-radius: 2px !important;
    display: flex !important;
 } */